Lemon/bin/
Lemon/obj/
Lime/bin/
Lime/obj/
Orange/bin/Win/Release/*.pdb
Orange/bin/Win/Release/OpenTK.xml
Orange/obj/
3rdParty/*/bin/*
3rdParty/*/obj/*
Lime/Extensions/*/bin/*
Lime/Extensions/*/obj/*
.DS_Store
.vs/
Orange/packages
/Orange/bin/Mac/*
!/Orange/bin/Mac/Release/Orange.app
*.userprefs
