# User-specific files
bin
obj
*.suo
*.vsp
*.psess
*.user
*.userosscache
*.sln.docstates
.svn

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
.bak

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
bld/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea

# Local history add-in
.localhistory

# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

.DS_Store

Lemon/Library/Android/libs/

# HACK

**/[Bb]in/*

!**/[Bb]in/Mac
**/[Bb]in/Mac/*
!**/[Bb]in/Mac/Release
**/[Bb]in/Mac/Release/*
!**/[Bb]in/Mac/Release/Orange.app
!**/[Bb]in/Mac/Release/Orange.app/**/*

!Orange/bin/Win/Release/Orange.exe

.orange/

