.DS_Store
.vs/
*.DotSettings
*.userprefs
*.csproj.user
*.vshost.exe
[Oo]bj/
Lemon/bin/
Lemon/Library/Android/libs/
Lime/bin/
Lime/Extensions/*/bin/*
3rdParty/*/bin/*
!3rdParty/ProtoBuf-Net/*/*
Orange/packages
!/Orange/bin/Mac/Release/Orange.app
!/Orange/bin/Win/Release/Orange.exe
*.mdb
Yuzu/bin
[Bb]in/
*.suo
