<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="McMaster.Extensions.CommandLineUtils" version="2.2.1" targetFramework="xamarinmac20" />
  <package id="Octokit" version="0.29.0" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="xamarinmac20" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
</packages>